/* GRIFTER bold 40px (LOGO) */
@font-face {
  font-family: "GRIFTER";
  font-weight: 700;
  font-size: 40px;
  src: url(../../fonts/grifterbold.otf);
}

/* Glory regular 20px (nav/footer) */
@font-face {
  font-family: "Glory";
  font-weight: 400;
  font-size: 20px;
  src: url(../../fonts/glory_regular.ttf);
}

/* Proxima Nova bold 40px (promo title text) */
@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 48px;
  src: url(../../fonts/proximanova_bold.otf);
}

/* Proxima Nova bold 24px (promo second text) */
@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 24px;
  src: url(../../fonts/proximanova_bold.otf);
}

/* Open Sans bold 20 px (main text) */
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  src: url(../../fonts/opensans_bold.ttf);
}

/* Open Sans regular 18 px (detailed) */
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  src: url(../../fonts/opensans_regular.ttf);
}

/* Proxima Nova regular 16px (detailed) */
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  src: url(../../fonts/proximanova_regular.ttf);
}

/* GRIFTER bold 24px (main text) accent */
@font-face {
  font-family: "GRIFTER";
  font-weight: 700;
  font-size: 24px;
  src: url(../../fonts/grifter_bold.otf);
}